<!DOCTYPE html>
<html>
  <head>
  <style type="text/css">
    #map-canvas {
    width: 50%;
    position: static; <!--What does this do?-->
   }
   <!-- html, body, #map-canvas{ height:50%; margin: 0; padding: 0;}-->
  </style>
  <title>Hole In The Wall</title>
  <!--<link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" /> I'm not 100% sure what this line is point, so I don't wanna remove it yet-->
  <!--MAP STUFF-->
  <script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdPlCvmkme1IQ3GRS_y5KMR5tUyAMGyUo">
  </script>
  <script type="text/javascript">
    <!-- This function initializes the map-->
    function initialize() {
    var mapOptions = { 
    <!--Add a center and stuff here-->
    center: { lat: -34.397, lng: 150.644},
    zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);
    
    var pos = new google.maps.LatLng(0,0);  <!--What does this line do lol--> 
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  </head>
  <body onload="initialize()"> <!--What does the onload thing do and why do you need both this and the addDomListener event-->
    <ul id="menu">
      <div id="username">{{username}}</div>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/settings">Change Settings</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/reviews">Reviews</a></li>
    </ul>
    <p class="box">
      Hello and welcome to Hole In The Wall!
      <!-- This div holds the map. Move it to move the map-->
      <div id="map-canvas" style="width: 100%; height: 100%"></div>
      <form method="POST">
	Add a place that you know of! All you need is its name, coordinates, your oid, and the src for an image of the place :) <br>
	<!-- idk what this div is for
             <div id="map-canvas" style="1500px; 1000px"></div>-->
	<input type="text" name="placename" placeholder="placename">
	<br><br>
	<!-- replace lat/lng with google maps api, and likewise for other stuff the user MIGHT not know-->
	<input type="text" name="lat" placeholder="lat">
	<input type="text" name="lng" placeholder="lng">
	<input type="text" name="adderID" placeholder="adderID">
	<input type="text" name="imgsrc" placeholder="imgsrc">
	<input type="submit" value="Add">
      </form>	
    </p>
    {% include 'messages.html' %}<!--Why do messages go here?-->
  </body>
</html>
