<!DOCTYPE html>
<html>
  <style type="text/css">
    #map-canvas {
      height: 50%;
      width: 50%;
    }
  </style>
  <head>
    <title>Hole In The Wall</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" />
    <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATf-MrlFDWnyXHfZEXgRrZny6xA3r19hk">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }

      function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
          'callback=initialize';
        document.body.appendChild(script);
      }

      window.onload = loadScript;

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body onload="initialize()">
    <ul id="menu">
      <div id="name">{{name.username}}</div>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/settings">Change Settings</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/reviews">Reviews</a></li>
    </ul>
    <p class="box">
      Hello and welcome to Hole In The Wall!
	<p>
	Add a place that you know of! All you need is its name, coordinates, your oid, and the src for an image of the place :) </p><br>
	<!--The map shows up!!! YAY! We still need to add the markers and stuff though-->
        <div id="map-canvas" style="width: 50%; height: 50%"></div>
	<form method="POST">
	<input type="text" name="placename" placeholder="placename">
	<br><br>
	<!-- replace lat/lng with google maps api, and likewise for other stuff the user MIGHT not know -->
	<input type="text" name="lat" placeholder="lat">
	<input type="text" name="lng" placeholder="lng">
	<input type="text" name="adderID" placeholder="adderID">
	<input type="text" name="imgsrc" placeholder="imgsrc">
	<input type="submit" value="Add">
      </form>	
    </p>
    {% include 'messages.html' %}
  </body>
</html>
