<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #map-canvas {
      width: 50%;
      position: static; <!--What does this do?-->
      }
    </style>
    <title>Hole In The Wall</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" />
    <!--MAP STUFF-->
    <script type="text/javascript"
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdPlCvmkme1IQ3GRS_y5KMR5tUyAMGyUo">
    </script>
    <script type="text/javascript">
      <!--var marker;-->

      <!-- This function initializes the map-->
      function initialize() {
      var mapOptions = { 
      center: { lat: 42.55308, lng: 9.140625},
      zoom: 16
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

      var pos = new google.maps.LatLng(0,0);  <!--What does this line do lol--> 
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <ul id="menu">
      <div id="username">{{username}}</div>
      <li><a href="logout">Logout</a></li>
      <li><a href="settings">Change Settings</a></li>
      <li><a href="about">About</a></li>
      <li><a href="search">Search</a></li>
      <li><a href="reviews">Reviews</a></li>
    </ul>
    <p class="box">
      Hello and welcome to Hole In The Wall!
      <div id="map-canvas" style="width: 100%; height: 100%"></div>
      <form method="POST">
	Please add a review:
	<br>
	How many stars would you give this establishment?
	<br>
	<input type="radio" name="stars" value="1">1
	<br>
	<input type="radio" name="stars" value="2">2
	<br>
	<input type="radio" name="stars" value="3">3
	<br>
	<input type="radio" name="stars" value="4">4
	<br>
	<input type="radio" name="stars" value="5">5
	<br><br>
	Comments:
	<br>
	<textarea name="myTextBox" cols="50" rows="5" placeholder="Enter your comments..."></textarea>
	<br><br>
	<input type="submit" value="Submit">
      </form>	
    </p>
    {% include 'messages.html' %}

  </body>
</html>
