<html>
  <head>
    <title>Hole In The Wall</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <ul id="menu">
      <div id="name">{{name}}</div>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/settings">Change Settings</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/reviews">Reviews</a></li>
    </ul>
    <p class="box">
      Hello and welcome to Hole In The Wall!
      <form method="POST">
	Search to find a Hole In The Wall already on our app:<br>
	<input type="text" name="holeInTheWall">
	<br><br>
	<input type="submit" value="Search">
      </form>	
    </p>
    <p class="box">
	Results:
	<ul>
	{% for result in results %}
	    <li>{{result}}</li>
	    {% endfor %}
	</ul>
    </p>
    {% include 'messages.html' %}
  </body>
</html>
