<html>
    <head>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/slate/bootstrap.min.css">
	<link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
	<title>Change Settings</title>
    </head>
    <body>
	<div class="container">
	    <div class="jumbotron">
		<ul id="menu">
		    <div id="name">{{name.username|safe}}</div>
		    <li><a href="/about">About</a></li>
		    <li><a href="/search">Search</a></li>
		    <li><a href="/add">Add</a></li>
		    <li><a href="/settings">Settings</a></li>
		    <li><a href="/logout">Logout</a></li>
		</ul>
		<form method="post" class="box">
		    <b>*Required*</b><br><input type="password" name="oldpw" placeholder="Current Password"><br><hr><br>
		    <input type="password" name="newpw" placeholder="New Password"><br>
		    <input type="submit" name="submit" value="Update" class="button">
		</form>
		{% include 'messages.html' %}
	    </div>
	</div>
    </body>
</html>
